# Android
android-app/.gradle/
android-app/.idea/
android-app/.kotlin/
android-app/build/
android-app/local.properties
android-app/app/build/
android-app/app/google-services.json

# Backend
backend/node_modules/
backend/.env
backend/firebase/serviceAccountKey.json

# Logs
*.log

# OS files
.DS_Store
Thumbs.db